<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What up?">
  <input type="submit" value="Go on!">
</form>

